# How to run cell in Jupyter notebook
Ctrl + Enter --> This will run the cell and Cursor will be in same cell<br>
Shift + Enter ---> This will run the cell and Cursor will be in next cell<br>
Alt + Enter ----> This will run the cell and Create a new cell<br>

### Cell Conversions

"Esc y" --> from markdown to code  
"Esc m" --> from code to markdown

Headings
# Heading1
## Heading2
### Heading3

**Bold**

*Italic*

## OrderedList
1. List1
2. List2
    1. List3
    1. List11
    1. List12

## UnOrderedList
- List1
- List2
    - List3

## Insert Image
![](logo.png)

## Python Basics
Python is Interpreted and Object Oriented

### Line Indentation In Python

In [5]:
# With indentation
if(True):
    print(True)# instead of "{,}" we gave indent(space)
else:
    print(False)

True

In [6]:
# Without indentation, it will get error
if(True):
print(True)
else:
print(False)

IndentationError: expected an indented block (<ipython-input-6-547523be256b>, line 2)

### Variables in Python

In [9]:
var1 = 10
var2 = "st"
print(type(var1))
print(type(var2))

<class 'int'>
<class 'str'>

In [10]:
type("10")

str

In [1]:
type(10)

int

In [2]:
type(10.33)

float

In [12]:
len("abcd")

4

In [3]:
len("10")

2

In [4]:
len(10)

TypeError: object of type 'int' has no len()

### Delete variable using 'del' keyword

In [15]:
x = 10

In [16]:
x

10

In [17]:
del x

In [18]:
x

NameError: name 'x' is not defined

In [19]:
# in python, we can redeclare variable
x1 = 12
print(x1)
x1 = 13
print(x1)

12
13

In [20]:
x1

13

### Convert int to float and float to int

In [23]:
int(56.3) # float to int

56

In [24]:
float(56) # int to float

56.0

### Convert String to int and int to string

In [25]:
str(56)

'56'

In [26]:
int('56')

56

## Operators
### Arithmetic Operators: +,-,*,/,%,**,//

In [27]:
a = 10
b = 11
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)

21
-1
110
10
0.9090909090909091

In [31]:
2 ** 3 # Exponentiation

8

In [32]:
6 / 5

1.2

In [30]:
6 // 5 # Floor Division

1

### Relational Operator
- <,>,>=,<=,!=,==

### Assignment Operator
- =,+=,-=,*=,/=,%=,**=,//=

In [33]:
# Difference between '=' and '=='

a = 10 # '=' assigns a value into a variable
b = 10
print(a == b)# '==' will compares both operands are equals or not

True

In [3]:
a = 10
b = 100
a += 10
b = b + 10
print(a)
print(b)

20
110

In [ ]:
# Try -=, *=, /=, %=

### Identity Operator
- is
- is not

In [39]:
x = "python"
y = "python"
print(x is y)
print(id(x),id(y))# Identity operator will check the id of variable

True
2548787554376 2548787554376

#### Difference between identity operator and '==' operator

In [4]:
x1 = ["abc","xyz"]
y1 = ["abc","xyz"]
print(x1 == y1)# '==' will compares values of variable
print(x1 is y1)# # Identity operator will check the identity of variable
print(id(x1),id(y1))

True
False
2337683952648 2337683170568