## Python Data Structures
- Lists
- Tuples
- Dictionaries
- Sets

## List
- Stores collection of various  types of data.
- Lists are mutable(or changeble)

In [1]:
# Different ways to create a lists
list1 = []# empty list
list2 = list()# empty list 
list3 = [10,22,356,55]# Homogenous List
list4 = ['a',10,25.66,'python']# Heterogenous List

In [2]:
l1 = 123
l2 = [123]
type(l1)

int

In [3]:
type(l2)

list

In [4]:
list3 = [10,22,356,55]
list3[0] = 111

In [5]:
list3

[111, 22, 356, 55]

### List Operations

In [6]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [7]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
[2] * 6

[2, 2, 2, 2, 2, 2]

### Accessing Values in List

In [9]:
list4 = [11,22,33,44]
list4[1]

22

In [10]:
list4[10]

IndexError: list index out of range

### Nested List: A list also have another list as an item or value

In [11]:
list5 = [10,20,30,[100,300],50]
list5[2]

30

In [12]:
list5[3]

[100, 300]

In [13]:
list5[3][0]

100

In [14]:
list5[3][1]

300

In [15]:
print(list5[0])
print(type(list5[0]))

print(list5[3])
print(type(list5[3]))

10
<class 'int'>
[100, 300]
<class 'list'>

### List Slicing

In [16]:
list6 = [10,20,30,40,50]
list6[0:]

[10, 20, 30, 40, 50]

In [17]:
list6[1:]

[20, 30, 40, 50]

In [18]:
list6[0::2]

[10, 30, 50]

In [19]:
list6[-1]

50

In [20]:
list6[:-1]

[10, 20, 30, 40]

In [21]:
list6[-1:]

[50]

### len(), max(), min()

In [22]:
len(list6)

5

In [23]:
max(list6)

50

In [24]:
min(list6)

10

### List Methods

In [25]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [26]:
list7 = [11,12,13,14,15]

### append(): Adds new element to the end of list
- syntax: list_var.append()

In [27]:
list7.append(16)

In [28]:
list7

[11, 12, 13, 14, 15, 16]

### extend(): Takes a list as an argument and appends all the elements
- syntax: list_var.extend()

In [29]:
list8 = [10,11,12]
list8.extend([13,14])

In [30]:
list8

[10, 11, 12, 13, 14]

In [31]:
list8.extend([15,16])

In [32]:
list8

[10, 11, 12, 13, 14, 15, 16]

In [33]:
list8.append([17,18])

In [34]:
list8

[10, 11, 12, 13, 14, 15, 16, [17, 18]]

### clear()

In [35]:
list8.clear()

In [36]:
list8

[]

### copy()

In [37]:
list9 = ['abc','d','xyz']
l = list9.copy()

In [38]:
l

['abc', 'd', 'xyz']

In [39]:
x = 10

In [40]:
x

10

In [41]:
del x

In [42]:
x

NameError: name 'x' is not defined

### Index(): Returns the index position of element
- syntax: list_var.index()

In [43]:
list10 = [323,25,66,48,99,78,55,123]
list10.index(48)

3

### pop()
- syntax: list_var.pop()

In [44]:
list10.pop()# By default, pop() will remove last element in list

123

In [45]:
list10

[323, 25, 66, 48, 99, 78, 55]

In [46]:
list10.pop(3)

48

In [47]:
list10

[323, 25, 66, 99, 78, 55]

### reverse()
- syntax: list_var.reverse()

In [48]:
list10.reverse()

In [49]:
list10

[55, 78, 99, 66, 25, 323]

### sort()
- syntax: list_var.sort()

In [50]:
list10.sort()

In [51]:
list10

[25, 55, 66, 78, 99, 323]

In [52]:
list11 = [1,44,23,896,111]
l2 = list10.sort()

In [53]:
l2

In [54]:
list12 = ['abc','ijk',100,258]
# All numbers in list13 and all strings in list14

#list13-->Output:['abc','ijk']
#list14-->Output:[100,258]

In [55]:
list12 = ['abc','ijk',100,258,'a',22]

list13 = []
list14 = []

for i in list12:
    if type(i) == int:
        list13.append(i)
    else:
        list14.append(i)

In [56]:
print(list13)
print(list14)

[100, 258, 22]
['abc', 'ijk', 'a']