# Day3 Objectives:

#### Markdown :
    * Order list
    * Unorder list
   
[markdown_syntax](https://www.markdownguide.org/basic-syntax/)
    
#### Operators:
    A. Arithmetic Operators ( +,-,*,%,/,//,**)
    B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)
    C. Comparison operators ( ==, >=, <=, !=, >, < )
    D. Identity Operators ( is , is not )
    E. Membership Operators ( in , not in ) 
    F. Logical operators  ( and, or, not )
    G. Bitwise Operators ( &, |, ~, ^, >>, <<)

    
#### variable Features
#### variable assignments
   	  - single variable assignment
	  - multiple variable assignment
#### dynamic input reading

#### Conditional Statements
    - if
    - if else
    - if elif else
    - Nested if
    
    
#### Data Types
    A. int,float,bool
    B. List,tuple,string,Dictionary,set
    
#### Iterations
    - for
    - while
        * pass
        * break
        * continue

In [ ]:
# Logical operators  ( and, or, not )

and gate not gate or gates

In [ ]:
True and True

In [ ]:
True or True

In [ ]:
not True

In [ ]:
True and False

In [ ]:
False or False

In [ ]:
not False

In [ ]:
12 and 34

In [ ]:
12324 and 98

In [ ]:
23425 and 0

In [ ]:
213 or 34

In [ ]:
2334 or 1

In [ ]:
56 or 56

In [ ]:
not 45

In [ ]:
not 12

In [ ]:
not 0

In [ ]:
not -23

In [ ]:
# Bitwise Operators ( &, |, ~, ^, >>, <<)

In [ ]:
3 & 4

In [ ]:
3 - 011
4 - 100
    000   - 0
    
    
12 - 1100
10 - 1010
     1000 - 8

In [ ]:
12 & 10

In [ ]:
3 | 4

In [ ]:
4 | 5

In [ ]:
3 - 011
4 - 100
  - 111 - 7

In [ ]:
~ -12

In [ ]:
-(12+1)

In [ ]:
2 ^ 3

In [ ]:
1010
1100
0110

In [ ]:
2 - 010
3 - 011
  - 001 - 1

In [ ]:
# >> 
2 >> 3

In [ ]:
12 >> 3   # /2 6/2 3/2 = 1

In [ ]:
12 >> 2   # /2  6/2 = 3

In [ ]:
12 >> 1     # /2

In [ ]:
12 / 2 = 6

In [ ]:
3/2

In [ ]:
3//2

In [ ]:
12 << 3  # 12 * 2 = 24 *2 = 48* 2 = 96

In [ ]:
12 << 2   # 12 * 2 * 2  = 48

In [ ]:
12 << 1    # 12 * 2

In [ ]:
# variable Features

In [ ]:
man = 123

In [ ]:
12 = 12

In [ ]:
* = 12

In [ ]:
     = 12

In [ ]:
_ = 13

In [ ]:
_

In [ ]:
i_am = 133

In [ ]:
m2 = 123

In [ ]:
m_ = 133

In [ ]:
m134_ = 14345

In [ ]:
M = 123

In [ ]:
M

In [ ]:
m

variable assignments
     - single variable assignment
     - multiple variable assignment

In [ ]:
v = 10,12,13,14

In [ ]:
type(v)

In [ ]:
v1,v2,v3,v4 = 10,11,12,13

In [ ]:
v3 = 32
v3

In [ ]:
# dynamic input reading

In [ ]:
input()

In [ ]:
b = float(input())
print(b)
type(b)

In [ ]:
str - int 
int - str
float - int 
int - float
list - str

In [ ]:
int('123')

#### Conditional Statements
- if
- if else
- if elif else
- Nested if

In [ ]:
if 12 > 1:
    pass

In [ ]:
if 12 < 1:
    print('1')
else:   
    print('0')

In [ ]:
if 12 < 1:
    print('1')
if 12 > 1:
    print('11')
else:   
    print('0')

In [ ]:
if 12 < 1:
    print('1')
    if 12 > 1:
        print('11')
        if 12 > 8:
            print('U got ')
else:   
    print('0')

In [ ]:
example of nested 
if :
    if expression1:
       statement(s)
       if expression2:
          statement(s)
       elif expression3:
          statement(s)
       elif expression4:
          statement(s)
       else:
          statement(s)
else:
   statement(s)

In [ ]:
Data Types
A. int,float,bool
B. List,tuple,string,Dictionary,set   # iterables

In [ ]:
l = []
l = list()
type(l)

In [ ]:
t = ()
type(t)

In [ ]:
s = ''
type(s)

In [ ]:
d = {}
d = dict()
type(d)

In [ ]:
s = set()
s = {'a','s','d'}
type(s)

In [ ]:
Iterations  
- for
- while
    * pass
    * break
    * continue

for i = 0;i<10;i++{
    dfjhgjk
}

In [ ]:
for i in range(4,12):
    if i == 7:
        continue
        
    print(i)

In [ ]:
range(start,end-1,step)
       0           1

In [ ]:
for i in range(1,101,2):
    print(i,end = " ")

In [ ]:
syntax:
    initilization
    while(condition):
        statements
        inc/dec

In [2]:
count = 0   # initization
while (count < 9):  # condition
    print (count)  # statements
    count = count + 1

0
1
2
3
4
5
6
7
8

In [ ]:
i=1
while(i<50):
    print(i,end='_')
    i=i+2;

In [ ]:
i=0
while(i<50):
    if(i%2!=0):
         print(i)
    i=i+1

In [ ]:
count = 1
while (count < 20):
    print(count,end='_')
    count= count + 2

In [ ]:
' '
" "
""" """

In [ ]:
s = 'single'
type(s)

In [ ]:
s = "single"
type(s)

In [ ]:
s = "i don't know"
print(s)
type(s)

In [ ]:
s = """i am 'lavanya' """
s

In [ ]:
input()

In [ ]:
task1 
otask2 : build A basic Calculator