## Tuples

- Tuples are immutable Datastructures.

In [2]:
t1 = (1,2,3)
t1

(1, 2, 3)

In [3]:
type(t1)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t2 = (1,2,3,4)
len(t2)

4

In [9]:
t3 = list(t2)
t3[3] = "six"
t4 = tuple(t3)
type(t4)
t4

(1, 2, 3, 'six')

In [10]:
t4[0]

1

In [11]:
t4[2]

3

In [12]:
t4[0:2]

(1, 2)

In [13]:
t4[0:3]

(1, 2, 3)

In [15]:
t4[3]
t4[-1]

'six'

In [16]:
del t4

In [17]:
t4[-1]

NameError: name 't4' is not defined

In [24]:
t5 = (11,0,1,5,8,0)
t5.index(0)

1

In [26]:
t5.count(0)

2

In [27]:
for element in t5:
    print(element)

11
0
1
5
8
0

In [30]:
print(6 not in t5)
print(11 not in t5)

True
False

In [37]:
t1 = 1,2,3,4
type(t1)

tuple

In [32]:
a,b,c,d = t1
a

1

In [40]:
t1 = (2,)
type(t1)

tuple

In [42]:
## Concatination
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [44]:
t1 = (1,2)
print(t1*3)

(1, 2, 1, 2, 1, 2)